.loader-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.loader-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loader-animation {
    width: 350px;
}

.loader-text {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}